<ul class="header__social--list" aria-label="Social Media Links">
	<li class="header__social--item">
		<a href="#" class="header__social--link" aria-label="Email">
			<img
				src="pic/mail-ico.png"
				alt="Email"
				width="41"
				height="28"
				class="header__social--image header__social--image-email"
			/>
		</a>
	</li>
	<li class="header__social--item">
		<a href="#" class="header__social--link" aria-label="Approvals">
			<img
				src="pic/approvals-ico.png"
				alt="Approvals"
				width="38"
				height="32"
				class="header__social--image header__social--image-approvals"
			/>
		</a>
	</li>
	<li class="header__social--item">
		<a href="#" class="header__social--link" aria-label="Help">
			<img
				src="pic/help-ico.png"
				alt="Help"
				width="33"
				height="37"
				class="header__social--image header__social--image-help"
			/>
		</a>
	</li>
</ul>
