<nav class="header__nav" role="navigation" aria-label="Main Navigation">
	<span class="btn__close fa-solid fa-xmark"></span>
	<ul class="header__nav--list">
		<li class="active header__nav--item">
			<a href="#" class="header__nav--link" aria-label="Home" aria-current="page">HOME</a>
		</li>
		<li class="header__nav--item">
			<a href="#" class="header__nav--link" aria-label="Recognize">RECOGNIZE</a>
		</li>
		<li class="header__nav--item">
			<a href="#" class="header__nav--link" aria-label="Network">NETWORK</a>
		</li>
		<li class="header__nav--item">
			<a href="#" class="header__nav--link" aria-label="Leaderboard">LEADERBOARD</a>
		</li>
		<li class="header__nav--item">
			<a href="#" class="header__nav--link" aria-label="Programs">PROGRAMS</a>
		</li>
		<li class="header__nav--item">
			<a href="#" class="header__nav--link" aria-label="Activity">ACTIVITY</a>
		</li>
	</ul>
</nav>
