<div class="preview__holder" aria-label="Preview Holder">
	<h3 class="preview__holder--title">E-CARD PREVIEW:</h3>
	<div class="preview">
		<div class="ecard" aria-label="E-card">
			<div class="ecard__image" aria-label="E-card Image">
				<img src="images/card-lg-01.jpg" alt="Preview" />
			</div>
			<div class="ecard__content" aria-label="E-card Content">
				<span class="ecard__content--criteria" aria-label="E-card criteria"
					>Criteria: Technical Excellence</span
				>
				<p class="ecard__content--text" aria-label="E-card Text">
					I would like to thank each of you for your outstanding contributions to helping us attain
					an on-time launch of project Narwhal. The downstream impact of delivering our new product
					set is competitively invaluable and key to supporting us and our partners' success in the
					marketplace. You guys embody our values and have delivered along every step of the way.
				</p>
				<div class="ecard__content--signature" aria-label="E-card Signature">
					<span class="ecard__content--name">Anna Parker</span>
				</div>
				<div class="ecard__content--date" aria-label="E-card Date">
					<span class="date--text">Award Date: </span>
					<span class="date--value">10/19/2015</span>
				</div>
			</div>
		</div>
		<div class="ecard__gallery" aria-label="E-card Gallery">
			<ul class="ecard__gallery--list" aria-label="E-card Gallery List">
				<li class="active ecard__gallery--item">
					<img src="images/card-sm-01.jpg" alt="" />
				</li>
				<li class="ecard__gallery--item"><img src="images/card-sm-02.jpg" alt="" /></li>
				<li class="ecard__gallery--item"><img src="images/card-sm-03.jpg" alt="" /></li>
				<li class="ecard__gallery--item"><img src="images/card-sm-01.jpg" alt="" /></li>
				<li class="ecard__gallery--item"><img src="images/card-sm-02.jpg" alt="" /></li>
				<li class="ecard__gallery--item"><img src="images/card-sm-03.jpg" alt="" /></li>
			</ul>
		</div>
	</div>
</div>
