<div class="recognize__form--recipients" aria-label="Recipients">
	<p class="recipient__text">I would like to recognize the following group:</p>
	<div class="recipient__tags" aria-label="Recipient Tags">
		<span class="recipient__tag" aria-label="Recipient Tag">
			Dorian Greene
			<button type="button" class="recipient__tag--btn remove__btn" aria-label="Remove User">
				×
			</button>
		</span>
		<span class="recipient__tag" aria-label="Recipient Tag">
			Gus Levy
			<button type="button" class="recipient__tag--btn remove__btn" aria-label="Remove User">
				×
		</span>
	</div>
	<a href="#" class="recipient__link" aria-label="Add User">add user</a>
</div>
