<section class="sidebar__item" aria-label="Sidebar Item, Go Shopping">
	<img src="pic/shoping-bg.jpg" alt="" class="sidebar__item--bg" />
	<a href="#" class="sidebar__item--link">
		<h3 class="sidebar__item--title">Go Shopping</h3>
		<div class="sidebar__item--info">
			<p class="sidebar__item--value">1,124</p>
			<span class="sidebar__item--text">Shopping Points</span>
		</div>
	</a>
</section>

<section class="sidebar__item" aria-label="Sidebar Item, My Budget">
	<img src="pic/budget-bg.jpg" alt="" class="sidebar__item--bg" />
	<a href="#" class="sidebar__item--link">
		<h3 class="sidebar__item--title">My Budget</h3>
		<div class="sidebar__item--info">
			<p class="sidebar__item--value">1,932</p>
			<span class="sidebar__item--text">Points to Give</span>
		</div>
	</a>
</section>

<section class="sidebar__item" aria-label="Sidebar Item, My Badges">
	<img src="pic/badges-bg.jpg" alt="" class="sidebar__item--bg" />
	<a href="#" class="sidebar__item--link">
		<h3 class="sidebar__item--title">My Badges</h3>
		<div class="sidebar__item--info">
			<img src="pic/badge-ico.png" alt="Badges" class="sidebar__item--image" />
		</div>
	</a>
</section>

<section class="sidebar__item" aria-label="Sidebar Item, My Awards">
	<img src="pic/avard-bg.jpg" alt="" class="sidebar__item--bg" />
	<a href="#" class="sidebar__item--link">
		<h3 class="sidebar__item--title">My Awards</h3>
		<div class="sidebar__item--info">
			<img
				src="pic/trophy-ico.png"
				alt="Trophy"
				class="sidebar__item--image sidebar__item--image-trophy"
			/>
		</div>
	</a>
</section>

<section class="sidebar__item" aria-label="Sidebar Item, Quizzes">
	<img src="pic/quizz-bg.jpg" alt="" class="sidebar__item--bg" />
	<a href="#" class="sidebar__item--link">
		<h3 class="sidebar__item--title">Quizzes</h3>
		<div class="sidebar__item--info">
			<img
				src="pic/bulb-ico.png"
				alt="Quizz"
				class="sidebar__item--image sidebar__item--image-quizz"
			/>
		</div>
	</a>
</section>

<section class="sidebar__item--form sidebar__item" aria-label="Sidebar Item, Redeem form">
	<img src="pic/redeem-bg.jpg" alt="" class="sidebar__item--bg" />
	<form action="#" class="sidebar__form">
		<div class="sidebar__form--group">
			<label for="redeem" class="sidebar__form--label">Redeem On-The-Spot Award</label>
			<input type="text" id="redeem" name="redeem" class="sidebar__form--input" />
		</div>
	</form>
</section>
